target/
/dependency-reduced-pom.xml
*.stderr
*.stdout
*.epg
/bin/
/.gradle/
/build/
/.settings/
/.classpath
/.project
/sdjson-grabber.ipr
/sdjson-grabber.iws
/sdjson-grabber.iml
/.nb-gradle-properties